@use "./styles/mixins.scss";

.product-card {
  display: flex;
  justify-content: space-between;
  width: 390px;
  height: 95px;
  font-family: Nunito Sans, sans-serif;
  background-color: var(--color-white);
  border-radius: 18px;
  box-shadow: 0 4px 18px #dfd9d9;
  cursor: pointer;
  &:hover {
    box-shadow: 0 3px 6px #8a8484;
  }
  &.disable {
    box-shadow: none !important;
    pointer-events: none;
    touch-action: none;
    background-color: rgba(60, 60, 60, 0.1) !important;
  }

  &-content {
    box-sizing: border-box;
    padding: 8px 15px 8px 24px;
    &-title {
      color: var(--color-dark-blue);
      @include mixins.text-format(0.9rem, normal, normal, 0);
      &.disable {
        color: var(--color-grey);
      }
    }
    &-ingredients {
      height: 20px;
      padding-top: 10px;
      color: var(--color-grey);
      @include mixins.text-format(0.7rem, normal, normal, 0);
    }
    &-price {
      padding-top: 16px;
      color: var(--color-dark-blue);
      @include mixins.text-format(0.9rem, normal, normal, 0);
      &.disable {
        color: var(--color-red);
        @include mixins.text-format(0.8rem, normal, normal, 0);
      }
    }
  }

  &-image {
    img {
      border-radius: 0 18px 18px 0;
      width: 80px;
      height: 95px;
    }
    &.disable {
      opacity: 0.5;
      z-index: -99;
    }
  }
}
