.timePicker {
  &-btn {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
  }
  &-icon {
    color: var(--color-white);
    margin-left: 6px;
  }
}
