@use "./styles/mixins.scss";

.additionals {
  display: flex;
  align-items: center;
  padding: 5px 3px;
  justify-content: center;
  border-radius: 15px;

  &.checked {
    background-color: rgba(90, 200, 245, 0.1);
  }
  input[type="checkbox"] {
    border: 2px solid var(--color-light-blue);
    border-radius: 4px;
    width: 18px;
    height: 18px;
    margin-right: 20px;
    cursor: pointer;

    &:checked {
      background-color: var(--color-light-blue);
    }
  }
  &-name {
    @include mixins.text-format(1rem, normal, normal, 0);
    width: 60%;
    cursor: pointer;
    user-select: none;
  }
  &-price {
    padding: 10px;
  }
}
