@use "./styles/mixins.scss";
.less-more {
  display: flex;
  &-number {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 20px;
    @include mixins.text-format(1.3rem, normal, normal, 700);
    color: var(--color-dark-blue);
    align-items: center;
    padding: 0 15px;
    @screen md {
      @include mixins.text-format(1.5rem, normal, normal, 700);
    }
  }
  &-btn {
    user-select: none;
    width: 32px;
    height: 32px;
    border-radius: 22.5px;
    border: 2px solid #e84249;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bolder;
    color: #e84249;
    cursor: pointer;
    outline: none;
  }
}
