:root {
  --color-grey: #8588a5;
  --color-dark-blue: #262957;
  --color-orange: #f48915;
  --color-white: #ffff;
  --color-violet: #712a8a;
  --color-black: #000000;
  --color-green: #0ce79e;
  --color-red: #e71b0c;
}
