@use "./styles/mixins.scss";

.nav-bar {
  display: flex;
  height: 240px;
  justify-content: space-between;
  position: relative;
  background-image: url("../../../../public/assets/img/header-img.png");
  background-position: top 0px center;
  background-repeat: no-repeat;

  @screen md {
    background-image: linear-gradient(
      to top,
      rgb(236, 236, 239),
      rgb(255, 255, 255)
    );
  }
  &-left {
    display: flex;
    flex-direction: column;
    width: 100%;

    @screen md {
      width: 70%;
    }
  }
  &-title {
    margin: 1.5rem 1.5rem auto 1.5rem;
    display: flex;
    flex-direction: column;
    @screen md {
      margin: 3rem 6.5rem auto 6.5rem;
    }
    span {
      color: var(--color-white);
      @screen md {
        color: var(--color-dark-blue);
      }
      &:nth-child(1) {
        @include mixins.text-format(1.8rem, normal, normal, 800);
        @screen md {
          @include mixins.text-format(2.5rem, normal, normal, 800);
        }
      }
      &:nth-child(2) {
        @include mixins.text-format(1.1rem, normal, normal);
        @screen md {
          @include mixins.text-format(1.6rem, normal, normal);
        }
      }
    }
  }

  &-links {
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: auto;
  }
  &-right {
    float: right;
    height: auto;
    width: 28%;
    display: none;

    @screen md {
      display: flex;
    }

    img {
      object-fit: cover;
      border-radius: 200px 0 0 200px;
      height: 100%;
      width: 100%;
    }
  }
}

.nav-bar-sticky {
  transition: 1s;
  border: 1 solid black;
  padding: 7px;
  background-image: linear-gradient(
    to top,
    rgb(236, 236, 239),
    rgb(255, 255, 255)
  );

  display: flex;
  justify-content: center;
  align-items: center;
}
