@use "./styles/mixins.scss";

.list-product {
  margin: 0px;
  @screen md {
    margin: 20px;
  }

  &-title {
    @include mixins.text-format(1.6rem, normal, normal, 800);
    font-family: gill sans, sans-serif;
    color: var(--color-dark-blue);
    padding: 30px 20px;
    @screen md {
      padding: 30px 0;
    }
  }
}
