.nav-bar-scroll {
  display: flex;
  width: 80%;

  @screen md {
    width: 77%;
  }
  @screen lg {
    width: auto;
  }

  &-items {
    width: 100%;
    overflow-x: scroll;
    overflow-y: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    padding: 12px 0;
  }

  &-icons {
    height: 12px;
    width: 12px;
    margin: auto;

    @screen lg {
      display: none;
    }
  }
}
