@import "./styles/colors.scss";

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: Nunito Sans, sans-serif;
  scroll-behavior: smooth;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.main-container {
  @screen xl {
    margin: 0 7rem;
  }
  @screen lg {
    margin: 0 5rem;
  }
  @screen md {
    margin: 0 2rem;
  }
}
