@use "./styles/mixins.scss";

.cart-modal-content {
  position: fixed;
  height: auto;
  width: 23%;
  bottom: 0;
  right: 7%;
  background-color: #ececef;
  border-radius: 35px 0 0 0;
  max-height: 600px;
  overflow-y: scroll;
}

.cart-modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.418);
}

body.active-modal {
  overflow-y: hidden;
}

.close-modal {
  border-bottom-left-radius: 45px;
  background-color: var(--color-white);
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 20px 20px 25px 30px;
  color: var(--color-red);
  cursor: pointer;
}
