@use "./styles/mixins.scss";

.basic-button {
  @include mixins.text-format(1.2rem, normal, normal, 700);
  background-color: var(--color-red);
  color: var(--color-white);
  width: 75%;
  text-align: center;
  padding: 12px;
  border-radius: 28px;
  cursor: pointer;
}
